.card-body{
  
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card-title{
    font-size: xx-large;
   margin-block-start: 10%;
   color: rgba(23, 93, 177, 0.867);

}
.card-text{
    align-items: center;
    font-size:large; 
}


