.doctor{
    margin: 4rem 6rem;
    color: #2a2a2a;
}

.doctor h1{
    font-size: 3rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.doctorcard{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    
}

.d-card{
    width: 32%;
    text-align: start;
    box-shadow: -1px 1px 62px -18px rgba(23, 93, 177, 0.867);
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem 0.8rem;
}

.d-image{
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
}

.d-image img{
    width: 100%;
    height: 100%;
    transition: 0.3s ease-out;
    border-radius: 7px;
}

.d-image:hover img{
    transform: scale(1.1);
}

.d-card h4{
    font-size: 1.3rem;
    padding: .9rem 0 .2rem 0;
}

@media screen and (max-width:1080px){
    .doctor{
        margin: 4rem 2rem;
    }
    
    .doctorcard{
        
        flex-direction: column;
    }
    .d-card{
        width: 100%;
        margin-bottom: 1.5rem;
    }
}
